body {
  font-size: 15px;
  font-weight: 300;
}

a:hover, a:active, a:focus {
  color: #777;
}

.wrapper {
  height: 100vh !important;
}

.pd-5 { padding: 5px; }
.pd-10 { padding: 10px; }
.pd-15 { padding: 15px; }
.pd-20 { padding: 20px; }
.pd-10-15 { padding: 10px 15px; }

.input-prop {
    font-size: 20px;
    font-weight: 300;
}

.info-box {
    min-height: 110px;
}
.info-box-icon {
  height: 110px;
  font-weight: bold;
  font-size: 32px;
}
.info-box-text {
    font-weight: bold;
    font-size: 20px;
}
.info-box-number {
    font-size: 26px;
}
.info-box .progress {
    height: 5px;
}

.fa-sidebar {
  font-size: medium !important;
}

.box.box-home {
  border-top: 8px solid;
}
.box-body.box-body-home {
  height: 22vh;
}

.box.box-home.box-home-1 {   border-top-color: #283593; }
.fa.fa-1 { color: #283593; }

.box.box-home.box-home-2 { border-top-color: #d50000; }
.fa.fa-2 { color: #d50000; }

.box.box-home.box-home-3 { border-top-color: #ffea00; }
.fa.fa-3 { color: #ffea00; }

.box.box-home.box-home-4 { border-top-color: #ff6d00; }
.fa.fa-4 { color: #ff6d00; }

.box.box-home.box-home-5 { border-top-color: #00a143; }
.fa.fa-5 { color: #00a143; }

.box.box-home.box-home-6 { border-top-color: #7b1fa2; }
.fa.fa-6 { color: #7b1fa2; }

.fa.fa-6x {
  font-size: 6em;
  padding: 15px 25px;
}

.box-title-home {
  /* font-weight: 400; */
  font-size: 25px !important;
  color: #333;
}

.description-header.description-header-1 {
  font-weight: 300;
  padding-bottom: 5px;
}
.description-text.description-text-1 {
  font-weight: 500;
  font-size: 18px;
}
.description-text.description-text-sm-1 {
  font-weight: 400;
  font-size: 18px;
}

.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
  white-space: normal!important;
}
.sidebar-menu>li.active>a {
  font-weight: bold;
}
.sidebar-menu>li>a:hover {
  font-weight: bold;
}

.form-group {
  margin: 10px 0 0 0;
}
.form-group .form-control {
  margin-bottom: 0px;
}

.navbar .navbar-brand:hover {
  font-weight: bold;
}
.navbar .navbar-nav > li > a:hover {
  font-weight: bold;
}

#form-title {
  font-size: 20px;
  font-weight: 200;
  padding-top: 10px;
  padding-bottom: 10px;
}

.widget-dependency-header {
  height: 100%;
  width: auto;
  margin-left: auto;
	margin-right: auto;
	display: block;
}
.widget-user .box-footer {
  padding: 0px;
}

.progress {
  margin-bottom: 7px;
}

.asesoria-letrada { color: #b32666; }
.progress-bar-asesoria-letrada { background-color: #b32666; }

.gestion-ambiental { color: #00a43d; }
.progress-bar-gestion-ambiental { background-color: #00a43d; }

.gobierno { color: #37967b; }
.progress-bar-gobierno { background-color: #37967b; }

.hacienda { color: #b2bb38; }
.progress-bar-hacienda { background-color: #b2bb38; }

.infraestructura { color: #2ea6c3; }
.progress-bar-infraestructura { background-color: #2ea6c3; }

.innovacion { color: #e3007a; }
.progress-bar-innovacion { background-color: #e3007a; }

.modernizacion { color: #e43117; }
.progress-bar-modernizacion { background-color: #e43117; }

.politicas-sociales { color: #c01190; }
.progress-bar-politicas-sociales { background-color: #c01190; }

.salud { color: #d7b200; }
.progress-bar-salud { background-color: #d7b200; }

.seguridad { color: #2865be; }
.progress-bar-seguridad { background-color: #2865be; }

.cultura { color: #c02042; }
.progress-bar-cultura { background-color: #c02042; }

.intendencia { color: #555; }
.progress-bar-intendencia { background-color: #555; }

.concejo { color: #3e95cd; }
.progress-bar-concejo { background-color: #3e95cd; }

@media (min-height: 950px) {
  .box-body.box-body-home {
    height: 30vh;
  }
}
